body {
    background-image: url("https://wallpapercave.com/wp/aD6Hiwe.jpg");
    background-position: center;
    font-family: fantasy;
    color: rgb(240, 237, 227);
}

.container {
    text-align: center;
}

#logo {
    border: black;
    border-width: 5px;
    border-radius: 25px;
}

#login-button {
    font-size: 15px;
}


#logout-button {
    font-size: 15px;
    float: left;
}

#add_room_button {
    font-size: 15px;
}

#user_name {
    width: 300px;
    border-radius: 30px;
    border-color: cornflowerblue;
    border-width: 10px;
    color:black;
}

#room_name {
    width: 300px;
    border-radius: 30px;
    border-color: cornflowerblue;
    border-width: 10px;
}

#output {
    padding: 10px;
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}
